---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from "../../ui/Section.astro"
import Row from "../../ui/Row.astro"
import Col from "../../ui/Col.astro"
// - UI
import CTA from "../../ui/CTA.astro"
import Button from "../../ui/button.astro"

// Content
const date = new Date()
const nextMonth = new Date(date.getFullYear(), date.getMonth() + 1)
const monthAfterNext = new Date(date.getFullYear(), date.getMonth() + 2)
const monthRange = `${nextMonth.toLocaleString("default", { month: "long" })}-${monthAfterNext.toLocaleString("default", { month: "long" })}`
---

<Section>
  <Row>
    <Col span='1' />
    <Col span='10'>
      <CTA
        title="Ready to start the website or app you've always <strong class='text-primary'>dreamed of?</strong>"
        text="We create cutting-edge web and mobile applications that drive growth and delight users. From concept to launch, we're with you every step. Let's create something amazing together."
      >
        <div
          class='font-gotham tracking-wide uppercase inline-flex items-center gap-2 px-4 py-1.5 rounded-full border border-border bg-muted text-sm'
        >
          <span class='relative flex size-3'>
            <span
              class='animate-ping absolute inline-flex h-full w-full rounded-full bg-light-emerald opacity-75'
            ></span>
            <span
              class='relative inline-flex rounded-full size-3 bg-light-emerald'
            ></span>
          </span>Now accepting new projects for {monthRange} 2026
        </div>
        <Button size='lg' variant='default' type='link' href='/contact'
          >Get in touch</Button
        >
      </CTA>
    </Col>
    <Col span='1' />
  </Row>
</Section>
