@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/outfit";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: hsla(39, 96%, 43%, 1);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* https://coolors.co/013a3a-268775-6eb981-933535-d68c04 */
  --color-dark-teal: hsla(180, 97%, 12%, 1);
  --color-jungle-teal: hsla(169, 56%, 34%, 1);
  --color-light-emerald: hsla(135, 35%, 58%, 1);
  --color-brown-red: hsla(0, 47%, 39%, 1);
  --color-harvest-gold: hsla(39, 96%, 43%, 1);

  /* Fonts */
  --font-decimal: "Decimal-Black-Pro", sans-serif;
  --font-operator: "OperatorMono-Book", monospace;
  --font-gotham: "GothamXNarrow-Bold", sans-serif;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: hsla(39, 96%, 43%, 1);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@keyframes dropdown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInShadowLight {
  100% {
    box-shadow:
      0 20px 25px -5px rgba(15, 23, 42, 0.025),
      0 8px 10px -6px rgba(15, 23, 42, 0.025);
  }
}

@keyframes fadeInShadowDark {
  100% {
    box-shadow:
      0 20px 25px -5px rgba(2, 6, 23, 0.25),
      0 8px 10px -6px rgba(2, 6, 23, 0.25);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme inline {
  --font-sans: "OperatorMono-Book", sans-serif;
  --font-heading: "Decimal-Black-Pro", sans-serif;
  --font-body: "OperatorMono-Book", monospace;
  --font-mono: "OperatorMono-Book", monospace;
  --font-decimal: var(--font-decimal), sans-serif;
  --font-operator: var(--font-operator), monospace;
  --font-gotham: var(--font-gotham), sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-dark-teal: var(--color-dark-teal);
  --color-jungle-teal: var(--color-jungle-teal);
  --color-light-emerald: var(--color-light-emerald);
  --color-brown-red: var(--color-brown-red);
  --color-harvest-gold: var(--color-harvest-gold);

  --animate-spin: spin 2s linear infinite;
  --animate-dropdown: dropdown 300ms ease-in-out forwards;
  --animate-fadeInShadowLight: fadeInShadowLight 500ms ease-in-out forwards;
  --animate-fadeInShadowDark: fadeInShadowDark 500ms ease-in-out forwards;
  --animate-fadeUp: fadeUp 500ms ease-in-out forwards;
}

* {
  @apply border-border outline-ring/50;
}
body {
  @apply font-sans bg-background text-foreground;
}
html {
  @apply font-sans;
}

@font-face {
  font-family: "Decimal-Black-Pro";
  src: url("/fonts/Decimal-Black-Pro.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamXNarrow-Bold";
  src: url("/fonts/GothamXNarrow-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OperatorMono-Book";
  src: url("/fonts/OperatorMono-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OperatorMono-Book";
  src: url("/fonts/OperatorMono-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Scroll animations */
/* To disable scroll animations remove the class "sroll-animation" from root html in the layout file */
.scroll-animation .col {
  @apply translate-y-4 transform opacity-0 transition-all duration-1000 [&.scroll-animated]:translate-y-0 [&.scroll-animated]:opacity-100 nth-1:delay-[50ms] nth-10:delay-[725ms] nth-11:delay-[800ms] nth-12:delay-[875ms] nth-2:delay-[125ms] nth-3:delay-200 nth-4:delay-[275ms] nth-5:delay-[350ms] nth-6:delay-[425ms] nth-7:delay-500 nth-8:delay-[575ms] nth-9:delay-[650ms];
}
