---
// Feature
// ------------
// Description: the Feature component is designed to highlight and showcase a specific feature, functionality, or offering within a product, application, or website.
// Properties:
// - Type: the type of the feature (top-icon, side-icon)
// - Title: the title of the feature
// - Icon: the icon of the feature
// - IconStyle: the style of the icon (normal, square)
// - Align: the content alignment of the feature (left, center)
// - classes: additional classes
// Reference: https://wind-ui.com/components/features/

// Components
// - UI
import { Icon } from "astro-icon/components"

// Props
type Props = {
  type?: "top-icon" | "side-icon"
  title?: string
  icon?: string
  iconStyle?: "normal" | "square"
  align?: "left" | "center"
  classes?: string
}
const {
  type = "top-icon",
  title,
  icon = "rocket",
  iconStyle,
  align,
  classes,
} = Astro.props
---

<div
  class:list={[
    "flex flex-col gap-4",
    { "items-center text-center": align === "center" },
    { "flex-row": type === "side-icon" },
    { [`${classes}`]: classes },
  ]}
>
  <Icon
    name=`${icon}`
    class:list={[
      "shrink-0",
      { [`size-6 text-primary`]: iconStyle != "square" },
      {
        [`size-10 rounded bg-primary-500 p-2 text-white`]:
          iconStyle === "square",
      },
    ]}
  />
  <div>
    {
      title && (
        <h3
          class:list={[
            "mb-4 text-lg font-normal leading-6 font-gotham uppercase",
            { [`mb-2 py-2`]: iconStyle === "square" && type === "side-icon" },
          ]}
        >
          {title}
        </h3>
      )
    }
    <p class="text-muted-foreground">
      <slot />
    </p>
  </div>
</div>
