---
// Footer
// ------------
// Description: the website footer is the section of content
// Reference: https://wind-ui.com/components/footers/

// Components
// - UI
import Logo from "@/components/Logo.tsx"

// Data
export const footerNavigationData = {
  footerAbout: {
    aboutText:
      "Expertly made, responsive, accessible components in React and HTML ready to be used on your website or app. Just copy and paste them on your Tailwind CSS project.",
  },
  footerColumns: [
    {
      category: "Company",
      subCategories: [
        {
          subCategory: "Home",
          subCategoryLink: "/",
        },
        {
          subCategory: "Services",
          subCategoryLink: "/services",
        },
        {
          subCategory: "Pricing",
          subCategoryLink: "/pricing",
        },
        {
          subCategory: "Conact",
          subCategoryLink: "/contact",
        },
      ],
    },
    {
      category: "About Us",
      subCategories: [
        {
          subCategory: "About Us",
          subCategoryLink: "/about",
        },
        {
          subCategory: "Our Mission",
          subCategoryLink: "/mission",
        },
        {
          subCategory: "FAQs",
          subCategoryLink: "/faqs",
        },
        {
          subCategory: "Reviews",
          subCategoryLink: "/reviews",
        },
      ],
    },
  ],
}

const { footerAbout, footerColumns } = footerNavigationData
---

<footer class="text-zinc-500 dark:text-zinc-300">
  <!-- Main footer -->
  <div
    class="border-t border-zinc-100 bg-zinc-50 pb-12 pt-16 text-sm dark:border-zinc-900 dark:bg-zinc-950 [&_li]:mb-2 [&_li]:leading-6"
  >
    <div class="container mx-auto px-6">
      <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
        <div
          class="col-span-2 first:col-span-4 md:col-span-4 md:first:col-span-6 lg:col-span-2 lg:first:col-span-6 lg:first:max-w-96"
        >
          <a
            aria-label="website logo"
            aria-current="page"
            class="mb-6 flex items-center gap-2 whitespace-nowrap font-headings text-xl font-bold leading-6 text-zinc-700 transition-colors duration-300 hover:text-primary-500 focus:outline-none focus:text-primary-600 dark:text-zinc-50"
            href="/"
          >
            <Logo width={256.16666667} height={28.66666667} />
            <span class="sr-only">Marevo Labs</span>
          </a>
          <p>
            {footerAbout.aboutText}
          </p>
        </div>
        {
          footerColumns.map((column) => (
            <div class="col-span-2 md:col-start-8 last:md:col-start-10 lg:col-start-8 last:lg:col-start-10">
              <h3 class="mb-6 text-base font-medium leading-8 font-gotham uppercase">
                {column.category}
              </h3>
              <ul>
                {column.subCategories.map((subCategory) => (
                  <li>
                    <a
                      href={subCategory.subCategoryLink}
                      class="transition-colors duration-300 hover:text-primary-500 focus:text-primary-600"
                    >
                      {" "}
                      {subCategory.subCategory}{" "}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <!-- Sub Footer -->
  <div
    class="border-t border-zinc-200 bg-zinc-100 py-4 text-sm text-zinc-600 dark:border-zinc-900 dark:bg-zinc-800/50 dark:text-zinc-400"
  >
    <div class="container mx-auto px-6">
      <div
        class="grid grid-cols-4 items-center gap-6 md:grid-cols-8 lg:grid-cols-12"
      >
        <div class="col-span-12 text-center">
          &copy; Marevo Labs, LLC {new Date().getFullYear()}. All rights
          reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
