---
// List
// ------------
// Description: the list component is a ui element that displays a list of items in a vertical order.
// Properties:
// - Type: the type of the list (basic, checklist)
// - ListItems: the list items of the list
// - classes: additional classes
// - listColor: the color of the marker (primary, zinc, white)

// Components
// - UI
import { Check, X } from "lucide-react"

// Props
type Props = {
  type?: "basic" | "checklist"
  listItems: Array<{ listItem: string, included: boolean }>
  classes?: string
}
const {
  type = "basic",
  listItems,
  classes,
} = Astro.props
---

<ul
  class:list={[
    "[&_li]:mb-2 [&_li]:ml-4 [&_li]:list-disc",
    {
      "[&_li]:flex [&_li]:items-start [&_li]:gap-2 [&_svg]:h-6 [&_svg]:w-6 [&_svg]:shrink-0 [&_svg]:p-1":
        type === "checklist",
    },
    { [`${classes}`]: classes },
  ]}
>
  {
    listItems.map((item) => (
      <li class:list={["", { "text-muted-foreground italic": !item.included }]}>
        {type === "checklist" && item.included ? <Check className="text-light-emerald" /> : <X className="text-muted-foreground"/>} {item.listItem}
      </li>
    ))
  }
</ul>
