---
// Modal
// ------------
// Description: the modal component is a ui element that displays a dialog box that appears on top of the current page.
// Properties:
// - Id: the id of the modal (use this id in the "modal" prop of the button)
// - Title: the title of the modal
// - classes: additional classes
// Reference: https://wind-ui.com/components/modals/

// Components
// - UI
import { X } from "lucide-react"
import Button from "@/components/ui/button.astro"

// Props
type Props = {
  id?: string
  title?: string
  classes?: string
}
const { id, title, classes } = Astro.props
---

<div
  {...id ? { id } : {}}
  class:list={[
    "fixed left-0 top-0 z-30 flex h-0 w-full items-center justify-center overflow-hidden bg-white/50 lg:backdrop-blur-sm dark:bg-zinc-900/50 [&.open]:h-full",
    { [`${classes}`]: classes },
  ]}
>
  <div
    class="m-6 flex w-80 max-w-full translate-y-6 flex-col overflow-hidden rounded border border-zinc-100 bg-white text-zinc-500 opacity-0 shadow-xl shadow-zinc-700/5 transition-all duration-500 dark:border-zinc-800 dark:bg-zinc-900 dark:shadow-zinc-950/50 [.open_&]:translate-y-0 [.open_&]:opacity-100"
  >
    <div
      class="flex items-center justify-between gap-6 border-b border-zinc-100 px-6 py-2 text-lg font-medium dark:border-zinc-800"
    >
      {title && <h2 class="mb-0 truncate text-lg">{title}</h2>}
      <Button
        size="sm"
        variant="ghost"
        className="modal__close !rounded-full !px-2.5"
      >
        <X className="dark:text-zinc-50" />
        <span class="sr-only">Close</span>
      </Button>
    </div>
    <div class="p-6">
      <slot />
    </div>
  </div>
</div>
